footer {
    width: 100vw;
    background-color: var(--color_23);
}

.greenPart {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footerLeft {
    width: 400px;
    height: 400px;
    padding: 10px 0 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footerLeft .title {
    width: 200px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.footerLeft .title img {
    width: 180px;
    height: auto;
}

.footerLeft .title h1 {
    font-family: 'caudex';
    font-size: 16px;
    color: var(--color_0);
}

.adress {
    margin-bottom: 30px;
}

.hours > p:first-child {
    font-family: 'AvenirBlack';
    margin-bottom: 10px;
    font-size: 18px;
}

.adress > p, .hours > p {
    font-size: 16px;
    color: var(--color_0);
    font-family: 'Avenir';
    letter-spacing: 0.6px;
    line-height: 26px;
}

/** FOOTER MIDDLE **/

.footerMiddle {
    width: 400px;
    height: 260px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h5 {
    font-family: 'caudex';
    font-size: 30px;
    color: var(--color_0);
}

.footerMiddle p {
    font-size: 16px;
    color: var(--color_0);
    font-family: 'Avenir';
    letter-spacing: 0.6px;
    line-height: 26px;
}

h3 {
    color: var(--color_0);
    font-family: 'AvenirBlack';
    margin-bottom: 7px;
    letter-spacing: 0.6px;
    font-size: 18px;
}

.footerMiddle > div {
    width: 328px;
    display: flex;
    flex-direction: column;
}

.footerMiddle input {
    
}

.footerMiddle button {
    width: 180px;
    height: 45px;
    padding-top: 5px;
    border: 1px solid var(--color_10);
    color: var(--color_23);
    background-color: var(--color_10);
    font-family: 'Avenir';
    font-size: 16.5px;
    transition: linear 0.2s;
}

.footerMiddle button:hover {
    color: var(--color_10);
    background-color: var(--color_23);
    transition: linear 0.3s;
    cursor: pointer;
    border: 0.5px solid var(--color_10);
}
.footerMiddle button:focus {
    outline: none;
}

/** FOOTER LAST **/

.footerLast {
    width: 400px;
    height: auto;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footerLast h3 {
    margin: 15px 0 23px 0;
}

form {
    width: 100%;
}

.inputs {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputs > div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.message {
    width: 328px;
}

label {
    font-size: 16px;
    color: var(--color_0);
    font-family: 'Avenir';
    letter-spacing: 0.6px;
    line-height: 26px;
    margin-right: 27px;
}

input {
    height: 45px;
    border: none;
    border-bottom: 0.7px solid var(--color_10);
    background-color: var(--color_23);
    margin-bottom: 15px;
    margin-right: 27px;
}

input:focus {
    outline: none;
    border: 1px solid white;
    background-color: var(--color_11);
}

.footerLast button {
    width: 180px;
    height: 45px;
    padding-top: 5px;
    border: 1px solid var(--color_10);
    color: var(--color_23);
    background-color: var(--color_10);
    font-family: 'Avenir';
    font-size: 16.5px;
    transition: linear 0.2s;
}

.footerLast button:hover {
    color: var(--color_10);
    background-color: var(--color_23);
    transition: linear 0.3s;
    cursor: pointer;
    border: 0.5px solid var(--color_10);
}
.footerLast button:focus {
    outline: none;
}


/* ? PARTE DO FOOTER BRANCA ************/

@media (max-width: 1200px) {
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .greenPart {
        width: 67vw;
        height: auto;
    }
    
    .footerLeft {
        padding-left: 100px;
    }
    
    .footerMiddle {
        align-items: center;
    }
    
    .footerLast {
        align-items: center;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .message {
        width: 375px;
    }
}