.fotoList {
    width: 100vw;
    height: 920px; /* ! 140vh */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fotoList h4 {
    font-family: 'Caudex';
    color: var(--color_25);
    font-size: 32px;
    margin: 40px 0;
}


/** Animação das fotos (subindo) **/

.fotos{
    width: 1340px;
    height: 325px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    }

.fade-in {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.foto {
    width: 325px;
    height: 325px;
    overflow: hidden;
}

.foto img {
    width: 325px;
    height: 325px;
    transition: transform 1s ease;
}

.foto img:hover {
    transform: scale(1.05);
}
