.fotoList {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fotoList h4 {
    font-family: 'Caudex';
    color: var(--color_25);
    font-size: 32px;
    margin-bottom: 30px;
}

/** Animação das fotos (subindo) **/

.fotos{
    width: 89vw;
    max-width: 1300px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foto {
    width: 285px;
    height: 285px;
    margin: 5px;
    overflow: hidden;
}

.fade-in {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.foto img {
    width: 285px;
    height: 285px;
    transition: transform 1s ease;
}

.foto img:hover {
    transform: scale(1.05);
}



@media (max-width: 1320px) {
    .fotoList {
        height: 80vh;
    }
    
    .foto {
        width: 240px;
        height: 240px;
    }
    
    .foto img {
        width: 240px;
        height: 240px;
    }
}

@media (max-width: 1124px) {
    .fotoList {
        height: 140vh;
    }
    
    .fotos {
        width: 67vw;
    }
}

@media (max-width: 768px) {
    .fotoList {
        height: 300vh;
    }
    
    .fotos {
        width: 66vw;
    }
    
    .foto {
        width: 350px;
        height: 350px;
    }
    
    .foto img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 415px) {
    .fotoList {
        height: 430vh;
    }
    
    .fotos {
        width: 88vw;
    }
}